html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background-color: #575757;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
}

.form {
    border: 1px solid #000000;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    max-width: 400px;
    background-color: #f3f3f3;
}

.button {
    cursor: pointer;
    background-color: #007497;
    border: 1px solid #000;
    border-radius: 5px;
    color: white;
}